<!DOCTYPE html>
<html>
  <head>
    <title>Searches</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascript/jquery.3.2.1.min.js'></script>
    <script src='/javascript/support.js'></script>
  </head>
  <body>

    <a href="/store/offers">All Offers</a> |
    All Searches |
    <a href="/store/matches">Create Match</a>

    <h1>Total Searches Count: <%= pageOptions.total %></h1>

    <% for( var idx = 0; idx < Math.ceil(pageOptions.total / pageOptions.limit) ; idx++ ) { %>
       <% if ( pageOptions.page == idx ) { %>
         <%= idx %>
       <% } else { %>
         <a href="/store/searches?page=<%= idx %>&limit=<%= pageOptions.limit %>"><%= idx %></a>
       <% } %>
    <% } %>
    <p>

    <table border=1>
      <thead>
        <tr>
          <th>Id</th>
          <th>Owner</th>
          <th>Text</th>
          <th>Keywords</th>
          <th>isMobile</th>
          <th>isValid</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for (obj of searches){ %>
          <tr>
            <td><a href='#' onclick="setMatch('search', '<%= obj.id %>'); return false;"><%= obj.id %></a></td>
            <td><%= obj.owner %></td>
            <td><%= obj.text %></td>
            <td><%= obj.keywords.join(",") %></td>
            <td class="<%=obj.isMobile ? 'mobile' : '' %>"><%= obj.isMobile %></td>
            <td class="<%=obj.is_valid() ? '' : 'invalid' %>"><%= obj.is_valid() %></td>
            <td>
              <a href="/store/details/<%= obj._id %>" target="_blank">Details</a>
              <a href="/store/delete/search/<%= obj._id %>">Delete</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>

    <p>

    <% for( var idx = 0; idx < Math.ceil(pageOptions.total / pageOptions.limit) ; idx++ ) { %>
       <% if ( pageOptions.page == idx ) { %>
         <%= idx %>
       <% } else { %>
         <a href="/store/searches?page=<%= idx %>&limit=<%= pageOptions.limit %>"><%= idx %></a>
       <% } %>
    <% } %>

  </body>
</html>
