extends layout.pug

block content
  script(src = "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js")
  script(src = "//cdnjs.cloudflare.com/ajax/libs/ipaddr.js/1.5.4/ipaddr.min.js")
  script(src = "//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src = "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" )

  center
    h1= name
    h5= description

    span= "Last Update: "
    span#lastupdate

    table
      thead
        tr
          th= column || "Key"
          th Value
      tbody#results
        tr
          td(colspan=2)
            img(src="/images/loader.svg")

    if legend
      h4 Legend
      table
        thead
          tr
            th Key
            th Description
        tbody
          - var ary = legend.split(".")
          - var patt = /\((.+)\) = (.+)$/
          - for ( var idx in ary )
            - var result = patt.exec(ary[idx])
            - if ( result )
              tr
                td= result[1]
                td= result[2]

block inlinejs
  script= "var DataUrl = '/consumers/" + redisdb + "/data';"
  script.
    function reload() {
      $.ajax({
        url: DataUrl,
        method: 'get',
        dataType: 'json'
      }).done( function(data){
        $("tbody#results").html("");
        $("span#lastupdate").html(data.lastupdate);
        for ( var idx in data.data) {
          var row = data.data[idx];
          $("tbody#results").append("<tr><td>" + row[0] + "</td><td>" +
                                    row[1] + "</td></tr>")
        }
        setTimeout(reload, 2000);
      })
    }
    document.addEventListener("DOMContentLoaded", function() {
      setTimeout(reload, 2000);
    })

block inlinecss
  style.
    table {
      width: 50%;
      padding: 10px;
      border-collapse: collapse;
      border: 1px solid #aaa;
    }
    thead tr {
      border-bottom: 1px solid #aaa;
      background: #888;
      color: #fff;
    }
    tbody tr {
      border-bottom: 1px solid #aaa;
    }
    td {
      text-align: center;
    }
    a {
      text-decoration: none;
    }
